/* split-pane.css */

.SplitPane {
  position: relative !important;
}

.Pane {
  overflow: auto;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  transition: all 0.2s ease;
}
.Resizer:hover {
  opacity: 0.2;
}

.Resizer.vertical {
  width: 5px;
  margin: 0 -2px;
  cursor: col-resize;
}

.Resizer.horizontal {
  height: 5px;
  margin: -2px 0;
  cursor: row-resize;
}
